<!-- <p>wrapper workss!</p> -->

<div class="container">
    <div class="row">
        <div class="col-lg-12 border">
            <app-header></app-header>
        </div>
    </div>
    <div class="row fill-height-or-more">
      <div class="col-lg-3 border margin-right">
        <app-nav></app-nav>
      </div>
      <div class="col-lg-9 border">
        <app-content></app-content>
      </div>      
    </div>
    <div class="row">
        <div class="col-lg-12 border">
            <app-footer></app-footer>
        </div>
    </div>
  </div>